body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Sora', sans-serif;
  padding: 2rem;
}

h1 {
  color: #ff80ab;
  font-size: 2rem;
  text-align: center;
}

a {
  color: #ff80ab;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  margin-top: 4rem;
}
